.diary-container {
    background: #111;
    color: #0f0;
    font-family: "Courier New", monospace;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.diary-terminal {
    background: #000;
    border: 2px solid #0f0;
    padding: 1rem;
    width: 80%;
    width: 800px;
    height: 400px;
    box-shadow: 0 0 15px #0f0;

    overflow-y: auto;
}

/* эффект глитча при ошибке */
.diary-terminal.glitch {
    animation: glitch 0.2s ease-in-out 3;
    border-color: #ff3333;
    box-shadow: 0 0 15px #ff0000aa;
}

@keyframes glitch {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(2px, -2px);
    }
    75% {
        transform: translate(-2px, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.terminal-input {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.terminal-input span {
    margin-right: 0.5rem;
}

.terminal-input input {
    flex: 1;
    background: #111;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 0.2rem 0.5rem;
    font-family: inherit;
}

.success {
    color: #0ff;
    font-weight: bold;
}

.error {
    color: #f00;
    font-weight: bold;
}
.next-level {
    text-align: center;
    margin-top: 20px;
}
.next-btn {
    background: #00ff9d;
    color: #0d0d0d;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.next-btn:hover {
    background: #00cc80;
    box-shadow: 0 0 10px #00ff9d;
}
